.banner{
    background-color: #0282F9;

    & .banner-item{
    flex-basis: calc(100% / 5);
    flex-shrink: 0;

        & img{
            width: 40px;
            margin-right: 1rem;
        }

        & a{
            padding: .7rem 1.2rem;
            color: white;
            text-decoration: none;
            font-size: .9rem;
            
        }
    }
}